<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
    <title>Virtex Blob App</title>
    <meta charset="utf-8">
    <meta content="text/html" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="icon" type="image/x-icon" href="assets/34E_square128.png">
    <meta name="title" content="Virtex Blob App">

    <style>
        /* generic */
        body {
            display: flex;
            height: 100vh;
            width: 100vw;
            background: black;
            font-family: Verdana, sans-serif;
            margin: 0;
            padding: 0;
            overflow-x: hidden;
            overflow-y: auto;
        }
        *, *::before, *::after {
            box-sizing: border-box;
        }

        /* generic ui */
        button, select {
            margin: 8px 0;
            border: 2px solid white;
            border-radius: 5px;
            background-color: black;
            color: white;
            padding: 10px;
            font-size: 16px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            transition: background 250ms linear, color 250ms linear;
            user-select: none;
            outline: none;
            white-space: nowrap;
        }
        button.white, select.white {
            background-color: white;
            color: black;
        }
        button:hover, select:hover {
            background-color: white;
            color: black;
        }
        button.white:hover, select.white:hover {
            background-color: black;
            color: white;
        }
        .header > button.reset:hover {
            background: black;
        }
        .checkbox {
            display: block;
            margin: 5px 0;
            cursor: pointer;
            user-select: none;
            white-space: nowrap;
        }
        .checkbox > input {
            cursor: pointer;
        }
        .checkbox > label {
            color: white;
            font-size: 16px;
        }

        /* canvas */
        .canvas-wrapper {
            height: 100%;
            border-right: 2px white solid;
        }
        #canvas {
            display: block;
            height: 100%;
        }

        /* sidebar */
        .sidebar {
            margin: 6px 0 0 0;
            width: 100%;
        }

        .header {
            width: 100%;
            padding: 0 0 5px 13px;
            border-bottom: 2px white solid;
        }
        .header > button.reset {
            color: red;
            margin-left: 6px;
        }

        .sidebar-container {
            width: 100%;
            padding: 6px 0 0 13px;
            display: flex;
        }
        .step-container > {
            display: block;
            margin: 100px;
        }
        .step-container > * {
            display: block;
            margin-right: 20px;
        }
        .draw-option-container {
            display: block;
            width: 100%;
        }
        .draw-option-container > * {
            display: block;
        }

        .faults {
            display: block;
            margin: 5px 0;
            color: white;
        }
    </style>
</head>
<body>
    <div class="canvas-wrapper">
        <canvas id="canvas" width="640" height="480"></canvas>
    </div>

    <div class="sidebar">
        <div class="header">
            <select name="image" class="white"
                onchange="if (this.selectedIndex) postAndUpdateUI('/changeImageFile', { file: this.value })">
                <% for (const image of imageFiles) { %>
                    <option value="<%= image %>" <%= image == imageFile ? 'selected' : '' %>><%= image %></option>
                <% } %>
            </select>
            
            <button onclick="postAndUpdateUI('/reset')" class="reset white">
                Reset
            </button>
        </div>
        
        <div class="sidebar-container">
            <div class="step-container">
                <button data-count="<%=5%>" class="step">Step Kernel</button>
                <button data-count="<%=2*5%>" class="step">Step 2 Kernels</button>
                <button data-count="<%=5*5%>" class="step">Step 5 Kernels</button>
                <button data-count="<%=10*5%>" class="step">Step 10 Kernels</button>
                <button data-count="<%=20*5%>" class="step">Step Quarter Line</button>
                <button data-count="<%=40*5%>" class="step">Step Half Line</button>
                <button data-count="<%=80*5%>" class="step">Step Line</button>
                <button data-count="<%=80*2*5%>" class="step">Step 2 Lines</button>
                <button data-count="<%=80*4*5%>" class="step">Step 4 Lines</button>
                <button data-count="<%=80*8*5%>" class="step">Step 8 Lines</button>
                <button data-count="<%=80*15*5%>" class="step">Step 15 Lines</button>
                <button data-count="<%=80*30*5%>" class="step">Step 30 Lines</button>
                <button data-count="<%=80*60*5%>" class="step">Step 60 Lines</button>
                <button data-count="<%=80*120*5%>" class="step">Step 120 Lines</button>
                <button data-count="<%=80*240*5%>" class="step">Step Half Frame</button>
                <button data-count="<%=80*480*5%>" class="step">Step Frame</button>
            </div>

            <div class="draw-option-container">
                <% for (const property in drawOptions) { %>
                <div class="checkbox">
                    <input type="checkbox" id="<%= property %>" <%= drawOptions[property] ? 'checked' : '' %>
                        onchange="postAndUpdateUI('/changeDrawOption', { option: '<%= property %>', enabled: this.checked})">
                    <label for="<%= property %>"><%= property %></label>
                </div>
                <% } %>
            </div>
        </div>

        <div class="faults"></div>
    </div>

    <script>
        let canvas = document.getElementById('canvas');
        let ctx = canvas.getContext('2d');

        //POST Request + Update UI based on Response
        async function postAndUpdateUI(url, data = {}) {
            const res = await post(url, data);
            if (!res.error) {
                //Update Faults
                document.querySelector('.faults').innerText = res.faults.join(', ');
                
                //Draw Image to Canvas
                const frame = ctx.createImageData(res.image.width, res.image.height);
                // this should work but doesn't :l
                frame.data = new Uint8ClampedArray(res.image.data.data);
                for (let i = 0; i < frame.data.length; i++) {
                    frame.data[i+0] = res.image.data.data[i+0];
                    frame.data[i+1] = res.image.data.data[i+1];
                    frame.data[i+2] = res.image.data.data[i+2];
                    frame.data[i+3] = res.image.data.data[i+3];
                }
                ctx.putImageData(frame, 0, 0);  
            }
        }

        //Draw Image at Start
        postAndUpdateUI('/reset');

        //Handle Step Button (which repeat if you hold them)
        //postAndUpdateUI('/step', { count:5 })
        let stepButtonHoldInterval, stepButtonHoldCounter;
        [].forEach.call(document.querySelectorAll('button.step'), function(button) {
            button.onmousedown = () => {
                postAndUpdateUI('/step', { count: button.dataset.count });
                stepButtonHoldCounter = 0;
                stepButtonHoldInterval = setInterval(() => {
                    stepButtonHoldCounter++;

                    if (stepButtonHoldCounter > 3) {
                        postAndUpdateUI('/step', { count: button.dataset.count });
                    }
                }, 100);
            };
            button.onmouseup = () => {
                clearInterval(stepButtonHoldInterval);
            };
        });

        //HTTP POST Request
        async function post(url, data = {}) {
            const res = await (await fetch(url, {
                method: 'POST',
                cache: 'no-cache',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data)
            })).json();
            if (res.error) {
                //log error
                console.error(res.error);
            }
            return res;
        }
    </script>
</body>
</html>